form {
    background-color: #E0E0E0;
    margin: 0 auto;
    width: 500px;
    border-radius: 3%;
    text-align: center;
}
h1 {
    text-align: center;
    font-size: 2.5rem;
    color: #58D68D;
}
legend {
    font-size: 1.3rem;
}
label {
    margin: 1rem;
}
input {
    margin: 1rem;
    background-color: white;
    outline: none;
}
select {
    margin: 10px;
}

#id {
    
}
